@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-inter);
}

.main {
    padding: 10px;
    padding-top: 50px;
    background-color: #f5f6fa;
    min-height: 100vh;
}

.head_text {
    @apply mt-5 text-3xl font-extrabold leading-[1.15] text-black sm:text-4xl;
}
.purple_gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-purple-500 to-purple-900;
}
.desc {
    @apply text-black text-xs mt-5 font-light;
}
.menu {
    @apply flex justify-between w-full p-2 bg-slate-950 fixed text-white;
}

.btn {
    font-size: 10px;
    @apply rounded-full text-center bg-purple-600 border border-transparent px-2 py-1 hover:bg-transparent hover:border-white transition duration-300;
}
.btn_reversed {
    font-size: 10px;
    @apply rounded-full text-center bg-white border text-black border-white px-2 py-1 hover:bg-purple-900 hover:border-transparent transition duration-300 hover:text-white;
}

.mobile-menu {
    width: 120px;
    left: -400%;
    @apply absolute rounded flex flex-col bg-slate-800  p-2
}